@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #111111;
    --foreground: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.text-gradient {
    background: -webkit-linear-gradient(left, #eaccfc, #d9d8ff, #940597);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
