@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #111111;
    --foreground: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.text-gradient {
    background: -webkit-linear-gradient(left, #eaccfc, #d9d8ff, #940597);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.bgCool {
    background-color: #151515;
    opacity: 1;
    background-image: linear-gradient(
            #171717 0.6000000000000001px,
            transparent 0.6000000000000001px
        ),
        linear-gradient(
            to right,
            #171717 0.6000000000000001px,
            #151515 0.6000000000000001px
        );
    background-size: 12px 12px;
}

.name {
    opacity: 0;
    animation: fadeUpAnimation 1s ease forwards;
}
.title {
    opacity: 0;
    animation: fadeUpAnimation 1s ease forwards;
    animation-delay: 500ms;
}

.btns {
    opacity: 0;
    animation: fadeUpAnimation 1s ease forwards;
    animation-delay: 1000ms;
}

@keyframes fadeUpAnimation {
    0% {
        transform: translateY(300%);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
